.news{
    display: inline-block;
    
}
.leftElt{
    float: left;
    width:10%;
}

.rightElt{
    float: right;
    width: 10%;
}
.centerElt{
    width: 75%;
    
}
.centerElt h2{
    font-size: 1.2rem;
}

.noteElt{
    background-color: gray;
    color:white;
    margin-bottom:2px;
}

/* menu styling */
#saveArticle:hover, #scrape:hover, #clearArticle:hover{
    background: greenyellow;
    color: antiquewhite;
}

@media only screen and (max-width:576px){
    .centerElt h2{
        font-size: 0.8rem;
    }
    .centerElt{
        width: 90%;
        
    }
    .rightElt{
        float: none;
        width: 100%;
    }
}