.news{
    display: inline-block;
    
}
.leftElt{
    float: left;
    width:10%;
}

.rightElt{
    float: right;
    width: 10%;
}
.centerElt{
    width: 65%;
    
}
.centerElt h2{
    font-size: 1.2rem;
}

.comment{
    background-color: gray;
    color:black;
}
